APP_NAME="AuthApp"
APP_ENV=dev
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=app-db-dev
DB_PORT=5432
DB_DATABASE=AuthApp
DB_USERNAME=admin
DB_PASSWORD=password
DB_ROOT_PASSWORD=example

EXTERNAL_WEBSERVER_PORT=80

DOCKER_DB_EXTERNAL_PORT=5432
DOCKER_DB_DATABASE=${DB_DATABASE}
DOCKER_DB_USERNAME=${DB_USERNAME}
DOCKER_DB_PASSWORD=${DB_PASSWORD}
DOCKER_DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}

XDG_CONFIG_HOME=/tmp

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
FILESYSTEM_DISK=local

DOCKER_INSTALL_XDEBUG=false
###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@db:5432/${DB_DATABASE}?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=d0e87182441e2181bce9c58a821bfca1
###< lexik/jwt-authentication-bundle ###
